<style>
    #logo_ban{
        width:10rem;
    }
</style>
<div class="banner position-relative">
    <div class="row">
        <div class="col-1">
            {% include "./responsive-sidebar.html" %}
        </div>
        <div class="col-2 mx-auto responsive-display">
            <img src="/media/logo.png" alt="logo" id="logo_ban">
        </div>
    </div>
    <div class="container ">

        <div class="row justify-content-center">
            <div class="cust-ban-name" id="bannarTitle">
                <p class="wel responsive-heading-font">Welcome To</p>
                <h1 class="main-name responsive-heading-font-banner">Taj Mahal</h1>
            </div>

        </div>

    </div>
    <div class="right text-light d-none">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd"
                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </div>
    <div class="left text-light d-none">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
                d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
    </div>
</div>
