<!-- <ul class="responsive-margin text-white">
    <li><a href="/">Home</a></li>
    <li class="text-warning"><a>/</a></li>
    <li><a href="/destination">Destination</a></li>
    <li class="text-warning"><a>/</a></li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Package</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/tour/interest">Tours By Interest</a>
            <a class="dropdown-item" href="/tour/region">Tours By Region</a>
        </div>
    </li>
    <li class="text-warning"><a>/</a></li>
    <li><a href="/hotel">Hotel</a></li>
    <li class="text-warning"><a>/</a></li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/service/tourpackage">Tour Package</a>
            <a class="dropdown-item" href="/service/elementaryservice">Elementary Services</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/service/mice">Mice</a>
        </div>
    </li>
    <li class="text-warning"><a>/</a></li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Join Us</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/news">News & announcement</a>
            <a class="dropdown-item" href="/guest">Guest Reviwes</a>
            <a class="dropdown-item" href="/gallary">Gallary</a>
            <a class="dropdown-item" href="#">payment</a>
        </div>
    </li>
</ul> -->
