<style>
    #img_li{
        width:5rem;
        height:5rem;
        border-radius:8rem;
        z-index:1;
    }
</style>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn text-white" onclick="closeNav()">&times;</a>
    <ul class="ml-2">
        <li class="ml-2"><a href="#"><img src="/media/logo.png" alt="logo" id="img_li"></a></li>
        <li class="ml-2"><a href="/">Home</a></li>
        <li class="ml-2"><a href="/destination">Destination</a></li>
        <li class="ml-2"><a href="#">Package</a>
            <ul class="ml-5">
                <li><a href="/tour/interest">Tours By Interest</a></li>
                <li><a href="/tour/region">Tours By Region</a></li>
            </ul>
        </li>
        <li class="ml-2"><a href="/hotel">Hotels</a></li>
        <li class="ml-2"><a href="#">Services</a>
            <ul class="ml-5">
                <li><a href="/service/tourpackage">Tour Package</a></li>
                <li><a href="/service/elementaryservice">Elementary Services</a></li>
                <li><a href="/service/mice">TakeMyTrip - Happenings</a></li>
            </ul>
        </li>
        <li class="ml-2"><a href="#">Join Us</a>
            <ul class="ml-5">
                <li><a href="/news">News</a></li>
                <li><a href="/guest">Guest Reviews</a></li>
                <li><a href="/gallary">Gallery</a></li>
                <li><a href="#">Payments</a></li>
            </ul>
        </li>
        <li class="ml-2"><a href="#">About Us</a>
            <ul class="ml-5">
                <li><a href="/about">Overview</a></li>
                <li><a href="/management">Management</a></li>
            </ul>
        </li>
        <li class="ml-2"><a href="/contect">Contact Us</a></li>
        <li class="ml-2"><a href="/enquiry">Quick Enquiry</a></li>
    </ul>
</div>
<span class="postision-absolute responsive-margin text-white responsive-display bg-dark"
    style="font-size:35px;cursor:pointer;padding:0;" onclick="openNav()">&#9776;</span>
