{% extends "layout/base.html" %}
{% block content %}


<div id="carouselExampleSlidesOnly position-relative" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="https://www.michelangelo.travel/fileadmin/_processed_/9/4/csm_mice_bozza_4d98fda693.png"
                class="d-block w-100" alt="..." style="height: 30rem;">
        </div>

    </div>
    <div class="position-absolute cust-ban2-head responsive-hide">
        {% include  './components/navlist.html' %}
        <p class="text-warning mx-5 px-4" style="font-size: 3rem;">TakeMyTrip - Happenings</p>
    </div>

    <div class="position-absolute cust-ban2-head responsive-display">
        <p class="text-warning fadeIn" style="font-size: 3rem;">{{ "mice" | upper }}</p>
    </div>
    <div class="position-absolute" style="top:0;">
        {% include "./components/responsive-sidebar.html" %}
    </div>
</div>

{% if mices|length  %}
<div class="container bg-dark text-light mt-2 responsive-hide">
    {% for mice in mices %}
    <div class="row pt-2 d-flex {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">
        <div class="col-5 m-2 my-5 ">
            <div class="row ">
                <img src={{ mice.image.url }} alt="" class="cust-img-shado-round mx-auto">
            </div>
        </div>
        <div class="col-5 mt-5">
            <h1 class="text-warning zoomIn"><b>{{ mice.title|upper }}</b></h1>
            <div class="border border-light w-100"></div>
            <p class="text-justify text-info my-2 mx-1">{{ mice.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% if mices|length  %}
<div class="container bg-dark text-light  responsive-display">
    {% for mice in mices %}
    <div class="row">
        <div class="col-md-5 ">
            <div class="row ">
                <img src={{ mice.image.url }} alt="" class="cust-img-shado-round mx-auto my-5"
                    style="width: 10rem; height: 10rem;">
            </div>
        </div>
        <div class="col-md-5 ">
            <h1 class="text-warning zoomIn"><b>{{ mice.title|upper }}</b></h1>
            <div class="border border-light w-100"></div>
            <p class="text-justify text-info my-2 mx-1">{{ mice.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}



{% endblock %}
